{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
    {{#each posts as |post|}}
          <h4><a class="btnp" href="/dashboard/edit/{{id}}">{{title}}         Posted by {{user.username}} on {{format_date created_at}}</a></h4>
     {{/each}}
</section>
{{/if}}

<div class="center">
    <button type="submit" class="btn-back"><a class="link" href="/dashboard/new">Add New Post</a></button>
</div>    
